@media (max-width: 575px) {
  .navbar {
    width: 575px !important;
  }
  .container {
    width: 575px;
  }
  .navbar-brand {
    margin: 0px;
  }
  .navbar-toggler {
    color: white !important;
    border: white;
  }
  .nav-link {
    font-size: 18px;
    margin: 0px;
  }
  .banner_txt h1 {
    text-align: center;
    width: auto;
  }
  .banner_txt p {
    width: auto;
    text-align: center;
  }
  .banner_bttn {
    text-align: center;
  }
  .banner_img {
    text-align: center !important;
    padding-top: 50px;
  }
  .banner_img img {
    width: 417px;
  }
  .we_work {
    padding-top: 66px;
  }
  .work_head h4 {
    width: auto;
    text-align: center;
  }
  .work_head p {
    width: 350px;
    margin: 0 auto;
    text-align: center;
  }
  .work_head a {
    display: block;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .work_card img {
    width: 60px;
    margin-bottom: 10px;
  }
  .work_card_left {
    padding-left: 21px;
  }
  .work_card_right {
    text-align: end;
    padding-right: 21px;
  }
  .work_card_right p {
    text-align: end;
    width: auto;
    padding-left: 183px;
  }
  .pro_head {
    width: 570px;
  }
  .pro_head h4 {
    font-size: 31px;
  }
  .por_2 {
    text-align: center;
  }
  .por_2 .small_overlay {
    left: 85px;
  }
  .features_head h4 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 40px;
  }
  .feat_tbl {
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .testi_head h4 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
  }
  .testi_head p {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
  }
  .testi_tbl {
    padding-left: 29px;
  }
  .testi_tbl h4 {
    width: 558px;
  }
  .qus_head h4 {
    margin: 0 auto;
    text-align: center;
  }
  .qus_head a {
    margin: 0 auto;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }
  .accordion-button span {
    padding-right: 15px;
  }
  .accordion-button h6 {
    font-size: 20px;
  }
  .accordion-body p {
    font-size: 16px;
  }
  .qus_form {
    flex-wrap: wrap;
  }
  .form_sec {
    width: 575px;
  }
  .form_head p {
    padding-bottom: 100px;
  }
  .form_head h4 {
    font-size: 45px;
  }
  .blog_head h4 {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .blog_tbl {
    margin-bottom: 30px;
  }
  .blog_img {
    margin: 0 auto;
  }
  .date {
    padding-left: 84px;
  }
  .blog_txt h5 {
    width: 510px;
    padding-left: 84px;
  }
  .blog_txt p {
    width: 475px;
    padding-left: 84px;
  }
  .blog_txt a {
    padding-left: 84px;
  }
  .footer_1st {
    text-align: center;
  }
  .footer_1st .footer_para {
    margin: 0 auto;
  }
  .footer_tbl {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  .footer_tbl_inner {
    padding: 0px 28px;
  }
  .footer_2nd h3 {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer_2nd p {
    margin: 0 auto;
    text-align: center;
  }
  .footer_links {
    text-align: center;
  }
  #copy h6 {
    font-size: 15px;
    margin: 0 auto;
  }
}