@media (min-width: 0px) and (max-width: 575px) {
  .container {
    width: 300px;
  }
  .navbar-brand {
    margin: 0px;
  }
  .navbar-toggler {
    color: white !important;
    border: white;
  }
  .nav-link {
    font-size: 18px;
    margin: 0px;
  }
  .banner_txt h1 {
    text-align: center;
    width: auto;
    font-size: 30px;
    line-height: 50px;
  }
  .banner_txt p {
    width: auto;
    text-align: center;
  }
  .banner_bttn {
    text-align: center;
  }
  .banner_img {
    text-align: center !important;
    padding-top: 50px;
  }
  .banner_img img {
    width: 283px;
  }
  .we_work {
    padding-top: 66px;
  }
  .work_head h4 {
    width: auto;
    text-align: center;
    font-size: 34px;
    padding-bottom: 10px;
  }
  .work_head p {
    width: 280px;
    margin: 0 auto;
    text-align: center;
  }
  .work_head a {
    display: block;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 15px;
  }
  .work_card img {
    width: 60px;
    margin-bottom: 10px;
  }
  .work_card_left {
    padding-left: 21px;
  }
  .work_card_right {
    text-align: end;
    padding-right: 21px;
  }
  .work_card_right p {
    text-align: end;
    width: auto;
    padding-left: 8px;
  }
  .pro_head {
    width: 280px;
  }
  .pro_head h4 {
    font-size: 17px;
    line-height: 39px;
  }
  .pro_head a {
    font-size: 14px;
  }
  .por_2 {
    text-align: center;
  }
  .por_2 .small_pro:hover .small_overlay {
    width: 280px;
  }
  .por_2 .small_pro img {
    width: 280px;
    height: auto;
  }
  .por_2 .small_overlay {
    height: 191px;
    left: 8px;
  }
  .por_2 .small_overlay h4 {
    padding-top: 50px;
  }
  .features_head h4 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 25px;
    line-height: 32px;
  }
  .feat_tbl {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 280px;
  }
  .feat_tbl i {
    padding-left: 24px;
  }
  .feat_tbl h5 {
    padding-left: 24px;
  }
  .feat_tbl p {
    padding-left: 24px;
    font-size: 12px;
    line-height: 21px;
    width: 280px;
  }
  .testi_head h4 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 35px;
    width: 280px;
  }
  .testi_head p {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
    width: 280px;
  }
  .testi_tbl {
    padding-left: 29px;
  }
  .testi_tbl h4 {
    width: 280px;
    font-size: 20px;
    line-height: 30px;
  }
  .testi_tbl .testi_pro img {
    height: 40px;
    width: 40px;
  }
  .testi_tbl .testi_pro h5 {
    font-size: 15px;
    line-height: 17px;
    padding-left: 10px;
  }
  .testi_tbl .testi_pro p {
    padding-left: 10px;
  }
  .qus_head h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    width: 280px;
  }
  .qus_head a {
    margin: 0 auto;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }
  .accordion-button span {
    padding-right: 15px;
  }
  .accordion-button h6 {
    font-size: 20px;
  }
  .accordion-body p {
    font-size: 16px;
  }
  .qus_form {
    flex-wrap: wrap;
    padding: 0px 10px;
  }
  .form_sec {
    width: 280px;
    padding-left: 13px !important;
  }
  .form_sec h4 {
    font-size: 28px;
  }
  .form_sec p {
    width: 268px;
    font-size: 12px;
    line-height: 25px;
  }
  .form_sec .form_1 input {
    width: 255px;
  }
  .form_sec .form_1 .form_bttn a {
    width: 257px;
    font-size: 16px;
  }
  .form_sec .get_touch {
    padding-left: 39px;
  }
  .form_head {
    width: 280px;
  }
  .form_head p {
    padding-bottom: 100px;
    width: 280px;
    font-size: 14px;
    line-height: 23px;
    padding-left: 13px;
  }
  .form_head h4 {
    font-size: 28px;
    width: 280px;
    line-height: 46px;
    padding-left: 13px;
  }
  .blog_head h4 {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .blog_tbl {
    margin-bottom: 30px;
  }
  .blog_img {
    margin: 0 auto;
    width: 280px;
    height: auto;
  }
  .date {
    width: 280px !important;
    padding-left: 13px !important;
  }
  .blog_txt h5 {
    width: 280px;
    padding-left: 13px;
    font-size: 19px;
    line-height: 27px;
  }
  .blog_txt p {
    width: 280px;
    padding-left: 13px;
    font-size: 12px;
    line-height: 17px;
  }
  .blog_txt a {
    margin: 0 auto;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer_1st {
    text-align: center;
  }
  .footer_1st .footer_para {
    margin: 0 auto;
    width: 280px;
  }
  .footer_tbl {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    width: 280px;
    padding-left: 0px;
  }
  .footer_tbl_inner {
    padding: 0px 16px;
  }
  .footer_tbl_inner p {
    font-size: 11px;
    line-height: 21px;
  }
  .footer_2nd h3 {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 33px;
    font-size: 41px;
  }
  .footer_2nd p {
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    line-height: 22px;
    width: 280px;
  }
  .footer_links {
    text-align: center;
  }
  #copy h6 {
    font-size: 15px;
    margin: 0 auto;
  }
  #about_description {
    padding-bottom: 50px;
  }
  .design_des {
    padding-top: 90px;
  }
  .design_des p {
    font-size: 14px;
    line-height: 19px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .design_des p:last-child {
    font-size: 9px;
    line-height: 15px;
    width: 280px;
    margin: 0 auto;
  }
  .design_des h4 {
    font-size: 19px;
    line-height: 28px;
    color: #282938;
    padding-bottom: 5px;
    width: 269px;
    margin: 0 auto;
  }
  .about_img_1 {
    text-align: center !important;
  }
  .about_img_1 img {
    width: 280px;
    height: auto;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .who_we_sec {
    width: 280px;
    margin: 0 auto;
    background: none;
  }
  .who_we_sec .who_we_1st {
    padding: 0px;
  }
  .who_we_sec .who_we_1st p {
    font-size: 14px;
    line-height: 19px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .who_we_sec .who_we_1st p:last-child {
    font-size: 9px;
    line-height: 15px;
    width: 267px;
    margin: 0 auto;
  }
  .who_we_sec .who_we_1st h5 {
    font-size: 19px;
    line-height: 28px;
    color: #282938;
    padding-bottom: 5px;
    width: 138px;
    margin: 0 auto;
  }
  .who_we_sec .who_we_2nd {
    padding: 0px;
  }
  .who_we_sec .who_we_2nd p {
    font-size: 9px;
    line-height: 15px;
    width: 267px;
    margin: 0 auto;
  }
  .who_we_sec .who_we_2nd h5 {
    font-size: 19px;
    line-height: 28px;
    color: #282938;
    padding-bottom: 5px;
    width: 250px;
    margin: 0 auto;
  }
  .about_img_2 {
    width: 280px;
    height: auto;
  }
  .we_follow_sec {
    padding-bottom: 50px;
    width: 280px;
    margin: 0 auto;
  }
  .we_follow_head {
    font-size: 18px;
    line-height: 11px;
    text-align: center;
    padding-bottom: 23px;
    width: 200px;
    margin: 0 auto;
  }
  .we_follow_tbl h5 {
    padding-top: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #282938;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .we_follow_tbl p {
    font-size: 6px;
    line-height: 16px;
    width: 166px;
    margin: 0 auto;
  }
  .we_follow_box {
    padding: 7px 0px;
  }
  .mission_txt p {
    font-size: 14px;
    line-height: 19px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .mission_txt p:last-child {
    font-size: 9px;
    line-height: 15px;
    width: 267px;
  }
  .mission_txt h4 {
    font-size: 19px;
    line-height: 28px;
    color: #282938;
    padding-bottom: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .about_img_3 {
    text-align: center !important;
  }
  .about_img_3 img {
    width: 240px;
    height: auto;
  }
  .about_img_4 {
    text-align: center !important;
  }
  .about_img_4 img {
    width: 240px;
    height: auto;
  }
  .vision_txt p {
    font-size: 14px;
    line-height: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .vision_txt p:last-child {
    font-size: 9px;
    line-height: 15px;
    width: 267px;
    margin: 0 auto;
    padding: 0;
  }
  .vision_txt h4 {
    font-size: 19px;
    line-height: 28px;
    color: #282938;
    padding-bottom: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  #benefits {
    padding-bottom: 8px;
  }
  #benefits .benefits_head {
    font-size: 18px;
    line-height: 11px;
    text-align: center;
    padding-bottom: 23px;
    width: 300px;
  }
  #benefits .benefits_number_tbl h3 {
    font-size: 16px;
    line-height: 20px;
    padding-right: 0px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  #benefits .benefits_number_tbl p {
    font-size: 12px;
    line-height: 11px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  #benefits .benefit_logo img {
    height: auto;
    width: 62px;
  }
  #benefits .benefits_last_sec {
    padding-top: 7px;
  }
  #about_team {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #about_team .about_team_head {
    font-size: 19px;
    line-height: 28px;
    color: #282938;
    padding-bottom: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  #about_team .about_team_tbl {
    width: 280px;
    height: 344px;
  }
  #about_team .about_team_overlay {
    left: 20%;
  }
  #about_team .about_team_txt {
    padding-top: 0;
  }
  #about_team .about_team_txt h4 {
    font-size: 14px;
  }
  #about_team .about_team_txt p {
    font-size: 13px;
    line-height: 2px;
  }
  .feature_banner {
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: #1C1E53;
  }
  .feature_banner_bttn {
    text-align: center;
  }
  .feature_benefits_last_sec {
    padding-top: 7px;
  }
  .feature_benefits_last_sec .benefits_head {
    font-size: 18px;
    line-height: 11px;
    text-align: center;
    padding-bottom: 23px;
    width: 300px;
  }
  .feature_benefits_last_sec .benefits_number_tbl h3 {
    font-size: 16px;
    line-height: 20px;
    padding-right: 0px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .feature_benefits_last_sec .benefits_number_tbl p {
    font-size: 12px;
    line-height: 11px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .feature_benefits_last_sec .benefit_logo img {
    height: auto;
    width: 62px;
  }
  .feature_benefits_last_sec .logo_right {
    text-align: right !important;
  }
  .feature_benefits {
    padding-top: 32px;
    font-size: 15px !important;
  }
  .feature_page_txt p {
    font-size: 14px;
    line-height: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .feature_page_txt p:last-child {
    font-size: 9px;
    line-height: 15px;
    width: 267px;
    margin: 0 auto;
    padding: 0;
  }
  .feature_page_txt h3 {
    font-size: 19px;
    line-height: 28px;
    color: #282938;
    padding-bottom: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
  .feature_img_1 {
    text-align: center !important;
    padding-top: 10px;
  }
  .feature_img_1 img {
    width: 280px;
    height: auto;
  }
  .feature_img_2 {
    text-align: center !important;
    padding-top: 10px;
  }
  .feature_img_2 img {
    width: 280px;
    height: auto;
  }
  .feature_page_2 {
    background-color: white;
    padding: 0px;
  }
  .feature_page_2 .feature_page_txt h3 {
    width: -moz-fit-content;
    width: fit-content;
  }
  .feature_page_3 {
    background-color: white;
  }
  .feature_page_3 .feature_page_txt h3 {
    width: -moz-fit-content;
    width: fit-content;
  }
  .feature_img_3 {
    text-align: center !important;
    padding-top: 10px;
  }
  .feature_img_3 img {
    width: 280px;
    height: auto;
  }
  .feature_page_4 {
    background-color: white;
    padding: 0px;
  }
  .feature_page_4 .feature_page_txt h3 {
    width: -moz-fit-content;
    width: fit-content;
  }
  .feature_img_4 {
    text-align: center !important;
    padding-top: 10px;
  }
  .feature_img_4 img {
    width: 280px;
    height: auto;
  }
  .pricing_head h4 {
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    font-size: 34px;
    padding-bottom: 10px;
  }
  .pricing_head p {
    width: 280px;
    margin: 0 auto;
    text-align: center;
  }
  .pricing_tbl {
    width: 280px;
    height: 576px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .pricing_tbl:hover .pricing_inner::after {
    height: 520px;
    opacity: 1;
  }
  .pricing_tbl_p {
    padding-bottom: 18px !important;
  }
  .pricing_sec h5 {
    width: -moz-fit-content;
    width: fit-content;
  }
  .pricing_sec p {
    font-size: 13px;
    line-height: 20px;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 23px;
  }
  .pricing_list li {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #282938;
    padding-bottom: 20px;
  }
  .mid_tbl_list {
    padding-bottom: 30px !important;
  }
  .pricing_bttn {
    margin: 0;
    margin-left: 12px;
  }
  .pricing_inner::after {
    left: -48%;
    top: -53px;
    width: 520px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navbar {
    width: 575px !important;
  }
  .container {
    width: 575px;
  }
  .navbar-brand {
    margin: 0px;
  }
  .navbar-toggler {
    color: white !important;
    border: white;
  }
  .nav-link {
    font-size: 18px;
    margin: 0px;
  }
  .banner_txt h1 {
    text-align: center;
    width: auto;
  }
  .banner_txt p {
    width: auto;
    text-align: center;
  }
  .banner_bttn {
    text-align: center;
  }
  .banner_img {
    text-align: center !important;
    padding-top: 50px;
  }
  .banner_img img {
    width: 417px;
  }
  .we_work {
    padding-top: 66px;
  }
  .work_head h4 {
    width: auto;
    text-align: center;
  }
  .work_head p {
    width: 350px;
    margin: 0 auto;
    text-align: center;
  }
  .work_head a {
    display: block;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .work_card img {
    width: 60px;
    margin-bottom: 10px;
  }
  .work_card_left {
    padding-left: 21px;
  }
  .work_card_right {
    text-align: end;
    padding-right: 21px;
  }
  .work_card_right p {
    text-align: end;
    width: auto;
    padding-left: 183px;
  }
  .pro_head {
    width: 570px;
  }
  .pro_head h4 {
    font-size: 31px;
  }
  .por_2 {
    text-align: center;
  }
  .por_2 .small_overlay {
    left: 85px;
  }
  .features_head h4 {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 40px;
  }
  .feat_tbl {
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .testi_head h4 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
  }
  .testi_head p {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
  }
  .testi_tbl {
    padding-left: 29px;
  }
  .testi_tbl h4 {
    width: 558px;
  }
  .qus_head h4 {
    margin: 0 auto;
    text-align: center;
  }
  .qus_head a {
    margin: 0 auto;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }
  .accordion-button span {
    padding-right: 15px;
  }
  .accordion-button h6 {
    font-size: 20px;
  }
  .accordion-body p {
    font-size: 16px;
  }
  .qus_form {
    flex-wrap: wrap;
  }
  .form_sec {
    width: 575px;
  }
  .form_head p {
    padding-bottom: 100px;
  }
  .form_head h4 {
    font-size: 45px;
  }
  .blog_head h4 {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .blog_tbl {
    margin-bottom: 30px;
  }
  .blog_img {
    margin: 0 auto;
  }
  .date {
    padding-left: 84px;
  }
  .blog_txt h5 {
    width: 510px;
    padding-left: 84px;
  }
  .blog_txt p {
    width: 475px;
    padding-left: 84px;
  }
  .blog_txt a {
    padding-left: 84px;
  }
  .footer_1st {
    text-align: center;
  }
  .footer_1st .footer_para {
    margin: 0 auto;
  }
  .footer_tbl {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  .footer_tbl_inner {
    padding: 0px 28px;
  }
  .footer_2nd h3 {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer_2nd p {
    margin: 0 auto;
    text-align: center;
  }
  .footer_links {
    text-align: center;
  }
  #copy h6 {
    font-size: 15px;
    margin: 0 auto;
  }
}