#benefits{
    padding-bottom: 128px;
}
.benefits_head{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #282938;
    width: 623px;
    text-align: center;
    margin: 0 auto;
    padding-top: 128px;
    padding-bottom: 48px;
}
.benefits_tbl{
    background-color: #F4F6FC;
}
.benefits_icon{
    left: 55% !important;
}
.benefits_last_sec{
    padding-top: 48px;
}
.benefits_number_tbl{
    h3{
        font-weight: 600;
        font-size: 38px;
        line-height: 56px;
        color: #282938;
        padding-right: 27px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #282938;
        opacity: 0.7;
    }
}
.benefit_logo{
    opacity: 0.8;
}