#features{
    background-color: #F4F6FC;
    padding-top: 136px;
    padding-bottom: 34px;
}
.features_head{
    p{
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
        text-transform: capitalize;
        padding-bottom: 12px;
    }
    h4{
        font-size: 48px;
        font-weight: 600;
        line-height: 64px;
        padding-bottom: 47px;
        width: 620px;
        margin: 0 auto;
    }
}
.feat_tbl{
    width: 405px;
    height: 316px;
    background: #FFFFFF;
    margin-bottom: 24px;
    position: relative;
    i{
        font-size: 35px;
        color: #1212cd;
        padding-top: 58px;
        padding-left: 48px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    h5{
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #282938;
        padding-left: 48px;
        padding-top: 22.08px;
        padding-bottom: 12px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #282938;
        opacity: 0.7;
        width: 367.08px;
        padding-left: 48px;
        padding-bottom: 5px;
    }
}