.port_page_head{
    padding-top: 188px;
    padding-bottom: 96px;
    background: #F4F6FC;
    text-align: center;
    p{
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #282938;
        opacity: 0.7;
        padding-bottom: 4px;
    }
    h2{
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #282938;
        padding-bottom: 24px;
    }
    ul{
        li{
            margin: 0px 13.5px;
            a{
                color: black;
            }
        }
    }
}
.port_head_txt{
    width: 669px;
    margin: 0 auto;
    padding-bottom: 32px !important;
}
.port_bttn_sec{
    padding-top: 99px;
    text-align: center;
    button{
        background-color: white;
        border: 0px;
        margin: 0px 16px;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #282938;
        opacity: 0.7;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        &:focus{
            color: #2405F2;
            opacity: 1;
        }
    }
}
.port_page_main{
    padding-top: 45px;
}
.port_tbl{
    padding-bottom: 64px;
    img{
        width: 623px;
        height: 380px;
    }
    h3{
        font-weight: 600;
        font-size: 38px;
        line-height: 56px;
        color: #282938;
        text-transform: capitalize;
        padding-bottom: 12px;
        padding-top: 24px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: justify;
        color: #282938;
        opacity: 0.7;
        padding-bottom: 24px;
    }
    a{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #282938;
        text-transform: capitalize;
        i{
            padding-left: 16px;
            font-size: 16px;
        }
    }
}
.port_page_last{
    text-align: center;
    padding-top: 64px;
    padding-bottom: 128px;
    h3{
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        color: #282938;
        width: 730px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    p{
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #282938;
        opacity: 0.7;
        width: 562px;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    button{
        font-family: 'Manrope';
        font-style: normal;
        height: 60px;
        width: 185px;
        border: 1px solid transparent;
        background-color: #FCD980;
        color: black;
        border-radius: 41px;
        transition: 0.5s;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
    }
}